.page-centrer {
  margin-top: 35px;
  padding-bottom: 40px;
  margin-left: 30%;
  margin-right: 30%;
  border: 0.5px black solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  align-content: center;
  position: relative;
}
