<!-- header -->
<app-header></app-header>

<!-- Menu -->
 <app-menu></app-menu> 
 
 <!--    background -->
<div class="fond">
   <div>.</div>
   <!-- page-center -->
   
   
   <div class="page-centrer">
       <br>
       <div class="titre">Demande Examen</div>
       <br>
        <label>Numéro DMP : 
            <select name="dmpId" [(ngModel)]="examenData.id_dmp" > <!--onchange="inserer('nomdmp',this.dmpId.label)"--> 
                <option value="">Sélectionnez un dmp</option>
                <option *ngFor="let dmp of dmps" [value]="dmp.id" >{{dmp.username}}</option>
            </select>
        </label>
            <br> 
            <br>
            <label>Type Examen : 
                <select [(ngModel)]="examenData.type_examen"> 
                <option value="">Sélectionnez un type</option>
                <option *ngFor="let type of types" [value]="type.id" >{{type.designation}}</option>
            </select>
            </label>
            <br> 
            <br>
            <label>Publication : 
                <select [(ngModel)]="examenData.publication"> 
                <option value="true">Oui</option>
                <option value="false" >Non</option>
            </select>
            </label>
            <br>
            <br>
            <button class="btn btn-primary btn-group-lg col-6" (click)="createDemandeExamen();"> 
                Enregistrer 
            </button>
       
   </div>  <!-- /page-center -->
 
</div> <!-- /background -->

