<div class="page-centrer">

<!--    background -->
<div class="fond">
   <div>.</div>
   <!-- page-center -->
   
   
       <br>
       <div class="titre">Demande Examen</div>

            <label>Type Examen : 
                <select [(ngModel)]="examenData.type_examen"> 
                <option value="">Sélectionnez un type</option>
                <option *ngFor="let type of types" [value]="type.id" >{{type.designation}}</option>
            </select>
            </label>
            <br> 
            <br>
            <label>Publication : 
                <select [(ngModel)]="examenData.publication"> 
                <option value="true">Oui</option>
                <option value="false" >Non</option>
            </select>
            </label>
            <br>
            <br>
            <button class="btn btn-primary btn-group-lg col-6" (click)="createDemandeExamen();"> 
                Enregistrer 
            </button>
       
   </div>  <!-- /page-center -->
 
</div> <!-- /background -->

