* {
  box-sizing: border-box;
}

.card {
  margin-top: 5%;
  align-content: center;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

#prix {
  text-align: center;
}

#Input {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#Ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height:300px;
  overflow-y:scroll;
}

#Ul li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#Ul li a:hover {
  background-color: #eee;
}