<p>
  examen-detail works!
</p>
<div class="modal-body">
                  <div class="row">
                      <div class="col-md-2 offset-md-3">
                          <h3>Resultat de l'examen</h3>
                          <form [formGroup]="registerForm">
                              <div class="form-group">
                                    <img [src]="imgURL">
                              </div>
                              <div class="form-group">
                                  <label>Publie le : {{examen.date}}</label>
                              </div>
                         </form>
                    
     </div>

</div>