<div class="page-centrer">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Document</th>
    </tr>
  </thead>
  <tbody id="diagnostiques">
        <tr *ngFor="let diagnostique of list" >
            <td *ngIf="diagnostique.delested == false"> {{diagnostique.date}} </td>
            <td *ngIf="diagnostique.delested == false"> <a routerLink="../../diagnostique/{{diagnostique.id}}"> Consulter </a> </td>
          <button *ngIf="diagnostique.delested == false" (click)=valDiag(diagnostique.id) type="button" class="btn btn-danger btn-sm">Valider diagnostique</button>
          <button *ngIf="diagnostique.delested == false && diagnostique.publication == true" style="position: absolute;margin-left: 2%"  (click)=suppDiag(diagnostique.id) type="button" class="btn btn-danger btn-sm">Supprimer</button>

        </tr>

  </tbody>
</table>


</div>
