.page-centrer {
    padding-bottom: 40px;
    margin-left: 25%;
    margin-right: 25%;
    border: 0.5px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    align-content: center;
    position: relative;
}

/*.page-centrer {
    margin-top: 90px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
  
    position: relative;
  
  }*/

.labelText {
    /*font-size: 5px;*/
}

.titre {
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 100;
}

.fond {
    
    margin: 0 0 0 0;
}

.erreur-message {
    color:#B30202;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

::-webkit-input-placeholder {
    text-align: center;
    font-style: italic;
    color: grey;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    font-style: italic;
    color: grey;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    font-style: italic;
    color: grey;
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    font-style: italic;
    color: grey;
 }
