<app-header></app-header>

<!-- Menu -->
 <app-menu></app-menu> 
 
 <!--    background -->
<div class="fond">
   <div>.</div>
   <!-- page-center -->
   
   
   <div class="page-centrer">
       <br>
       <h2> Demande Examen </h2>
       <br> 
       <br>
        <label>Numéro DMP : 
            <select name="dmpId" [(ngModel)]="examenData.id_dmp" [(ngModel)]="examenDataUpdate.id_dmp">  
                <option value="">Sélectionnez un dmp</option>
                <option *ngFor="let dmp of dmps" [value]="dmp.id" >{{dmp.username}}</option>
            </select>
        </label>
       <br> 
            <br> 
            <br>
            <label>Type Examen : 
                <select [(ngModel)]="examenData.type" [(ngModel)]="examenDataUpdate.type"> 
                <option value="">Sélectionnez un type</option>
                <option *ngFor="let type of types" [value]="type.id" >{{type.username}}</option>
            </select>
            </label>
            <br> 
            <br>
            <label>Publication : 
                <select [(ngModel)]="examenData.publication" [(ngModel)]="examenDataUpdate.publication"> 
                <option value="true">Oui</option>
                <option value="false" >Non</option>
            </select>
            </label>
            <br> 
            <br>
            <button class="btn btn-primary btn-group-lg col-4" (click)="updateDemandeExamen();"> 
                Modifier 
            </button>
       
   </div>  <!-- /page-center -->
 
</div> <!-- /background -->

