<div class="page-centrer">
<button id="myModallInterventionn" #myModallInterventionn [hidden]="true" data-toggle="modal" data-target="#myModalInterventionn"></button>
  <div class="modal" id="myModalInterventionn" role="dialog" data-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Creer un nouvel intervention</h4>
                <button type="button" (click)="cancel()" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal content-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input type="file" name="file" (change)="onFileSelected($event)">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Publier l'intervention</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="id as value;">
                <app-coder-acte idtype={{id}} typef="intervention"></app-coder-acte>
            </div>
        </div>
    </div>
</div>


<!-- <button type="button" (click)="addFile()">Ajouter</button>
<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table> -->
</div>
