
 <!--    background -->
<div class="fond">
   <div>.</div>
 <div>
     <!--a routerLink="/addDemandeExamen"> Nouvelle demande </a-->
     <button class="btn btn-primary btn-group-lg col-25" (click)="newDemande();">Nouvelle demande</button>
 </div>
 <div class="page-centrer" style="padding-right: 100px;padding-left: 100px;margin-right: 30px;margin-left: 30px;">
<!--app-demandeExamenAdding></app-demandeExamenAdding-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom<th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>

      <!--th scope="col">Publication Laboratoire</th-->

    </tr>
  </thead>
  <tbody id="dExams">
        <tr *ngFor="let demandeIntervention of demandeInterventions;let i=index">
          <td>{{patienttab[i].donneesSociales.nom}}</td>
          <td>{{patienttab[i].donneesSociales.prenom}}</td>
          <td> {{demandeIntervention.type_examen}} </td>
          <td> {{demandeIntervention.date}} </td>
          <td> Chirurgie thoracique </td>
          <!--td> {{demandeExamen.publicationLab}} </td-->
          <td><button class="btn btn-primary btn-group-lg col-12" routerLink="../creerIntervention/{{patienttab[i].dmp.id}}">Intervention</button></td>
          <td><a routerLink="../accederDMP/{{patienttab[i].id}}"> DMP </a>

        </tr>

  </tbody>
</table>

</div>
 
</div> <!-- /background -->


