.page-centrer {
    margin-top: 90px;
    padding-bottom: 40px;
    margin-left: 38%;
    margin-right: 40%;
    border: 0.5px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    align-content: center;
  position: relative;
    
}

.titre {
    padding-top: 10px;
    padding-bottom: 80px;
    font-size: 20px;
    font-weight: 100;
}

.fond {
    height: 590px;
    margin: 0 0 0 0;
}

.erreur-message {
    color:#B30202;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

::-webkit-input-placeholder {
    text-align: center;
    font-style: italic;
    color: grey;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    font-style: italic;
    color: grey;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    font-style: italic;
    color: grey;
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    font-style: italic;
    color: grey;
 }
