<!-- header -->
<app-header></app-header>

<!-- Menu -->
 <app-menu></app-menu> 

 <!--    background -->
<div class="fond">
   <div>.</div>
   <!-- page-center -->
   
   <div class="page-centrer">
       <br>
       <h2> Liste demandes Examen </h2>
       <br> 
       <br>
       <table  style="width:100%">
           <tbody>
                <tr>
                    <th>Code</th>
                    <th>DMP</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Publication</th>
                    <th></th>
                </tr>
                <tr *ngFor="let demandeExamen of demandeExamens">
                    <td> {{demandeExamen.id}} </td>
                    <td> {{demandeExamen.id_dmp}} </td>
                    <td> {{demandeExamen.type}} </td>
                    <td> {{demandeExamen.date}} </td>
                    <td> {{demandeExamen.publication}} </td>
                    <td> <a routerLink="/demandeExamenEdit/{{demandeExamen.id}}"> Edit</a>
                        <button class="delete" (click)="delete(demandeExamen.id)">x</button> 
                    </td>
                </tr>
           </tbody>
       </table>
       
   </div>  <!-- /page-center -->
 
</div> <!-- /background -->