
 <!--    background -->
<div class="fond">
   <div>.</div>

   <!-- Page centrale-->
   <div class="page-centrer">
     <div class="entete">
       <h6 >Etablissement</h6>
       <h6 style="padding-left:17%">Service</h6>
       <h6 style="padding-left:17%">Medecin-Chef</h6>
     </div>
     <div class="enteteInfo">
       <p style="font-weight:bold">Saint-Louis</p>
       <p style="padding-left:10%" style="font-weight:bold">Saint-Louis</p>
       <p style="padding-left:10%" style="font-weight:bold">Saint-Louis</p>




     </div>




   </div> <!-- /Page centrale -->

   
</div> <!-- /background -->
