
 <!--    background -->

   <!-- Page centrale-->
   <div class="page-centrer">
     <div class="entete">
       <h6 >Etablissement</h6>
       <h6 style="padding-left:17%">Service</h6>
       <h6 style="padding-left:17%">Medecin-Chef</h6>
     </div>
     <div style="display: block" class="enteteInfo">
       <p class="eta" style="font-weight:bold">Saint-Louis</p>
       <p class="ser" style="font-weight:bold">Saint-Louis</p>
       <p class="mc" style="font-weight:bold">Saint-Louis</p>

     </div>

     <hr style="border: 2px solid#5b9aa0;" />

     <div class="ds">
       <p>Nom: {{getNom()}}</p><br>
       <p>Prenom: {{getPrenom()}}</p>
       <p style="padding-left: 25%">Née le: {{getBD()}} </p>
       <p style="padding-left: 1%">à : Melun </p><br><br>
       <p >Code postal du domicile: {{getCP()}} </p><br>
       <label>Profession: </label><input type="text" [(ngModel)]="Profession" id="Profession" ngstyle="display: inline" class="form-control col-3" [placeholder]="prof() ? Profession:''" [disabled]="prof()"><br>
       <div class="form-group">
         <label>Groupe Sanguin :</label>
         <select formControlName="pays" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pays.errors }">
           <option value="O">O</option>
           <option value="O+">O+</option>
         </select>

       </div>
       <p style="padding-left: 15%;font-weight:bold">Groupe Rhésus:</p><br><br>
       <p>Date d'entrée: 29/03/2019</p>
       <label style="padding-left: 10%">Motif: </label><input type="text" [(ngModel)]="Motif" [placeholder]="motif() ? Motif:''" [disabled]="motif()" name="Motif" style="display: inline" class="form-control col-3"><br>


     </div>
     <hr style="border: 2px solid#5b9aa0;" />

     <div class="medic">
       <label>Affection congénitales: </label><input type="text" [(ngModel)]="AC" [placeholder]="ac() ? AC:''" [disabled]="ac()" name="AC" style="display: inline" class="form-control col-3">
       <label style="padding-left: 10%">Maladies: </label><input type="text" [(ngModel)]="Maladie" [placeholder]="maladie() ? Maladie:''" [disabled]="maladie()" name="Maladies" style="display: inline" class="form-control col-3"><br>
       <label >Maladies infectieuse: </label><input type="text" [(ngModel)]="MaladieI" [placeholder]="mi() ? MaladieI:''" [disabled]="mi()" name="MI" style="display: inline" class="form-control col-3">
       <label style="padding-left: 11.5%">Allergies: </label><input type="text"  [(ngModel)]="Allergie" [placeholder]="Allergies() ? Allergie:''" [disabled]="Allergies()" name="Allergies" style="display: inline" class="form-control col-3"><br>
       <label>Autres Affections: </label><input [(ngModel)]="AutreA" [placeholder]="autrea() ? AutreA:''" [disabled]="autrea()" type="text" name="Autres" style="display: inline" class="form-control col-3" ><br>
       <label >Interventions chirurgicales: </label><input [(ngModel)]="IC" [placeholder]="ic() ? IC:''" [disabled]="ic()" type="text" name="IC" style="display: inline" class="form-control col-3" ><br>
       <label>Accidents: </label><input type="text" [(ngModel)]="Accidents" [placeholder]="accidents() ? Accidents:''" [disabled]="accidents()" name="Accidents" style="display: inline" class="form-control col-3" ><br>
       <hr style="border: 2px solid#5b9aa0;" />






     </div>
     <div style="display: block" class="AutreHospi">
       <p class="eta" style="font-weight:bold">Date</p>
       <p class="ser" style="font-weight:bold">Etablissement</p>
       <p class="mc" style="font-weight:bold">Cause</p>

     </div>

   </div> <!-- /Page centrale -->

    <button style="margin-left: 85%;position: relative;margin-top:-95% " (click)=modif() type="button" class="btn btn-danger">Modifier</button>
    <button style="margin-left: 82%;position: relative;margin-top:-90% " type="button" class="btn btn-danger btn-sm">Gestion des documents</button>


   
