
.entete,h6{

  font-family: 'LuloCleanW01-OneBold', sans-serif;
  display: inline;

}
.enteteInfo,p{

  display: inline;


}
p.eta{

  padding-left: 5%;

}
p.ser{

  margin-left: 27%;
}
p.mc{
  padding-left: 22%;

}
hr.ligne{

  color: #943616 ;

}
.ds{
  padding-left: 1%;
}
.medic{
  padding-left: 1%;

}
.ds,p{

}
.formfield * {
  vertical-align: middle;
}
.page-centrer {
    margin-top: 35px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 30%;
    border: 0.5px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    position: relative;

  width: 60%;
}



