
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
  #modif{
    margin-left: 82%;position: absolute;margin-top: -40%;
  }

  #gestion{
    margin-left: 82%;position: absolute;margin-top: -36%;
  }

  #demandei{
    margin-left: 82%;position: absolute;margin-top: -32%;
  }

  #demandee{
    margin-left: 82%;position: absolute;margin-top: -28%;
  }

  #cintervention{
    margin-left: 82%;position: absolute;margin-top: -24%;
  }

  #gp{
    margin-left: 3%;position: absolute;margin-top: -30%;

  }
  #vp{
    margin-left: 2%;position: absolute;margin-top: -30%;

  }
  #vd{
    margin-left: 2%;position: absolute;margin-top: -25%;
  }
  #ind{
    margin-left: 82%;position: absolute;margin-top: -30%;

  }
  #ip{
    margin-left: 83%;position: absolute;margin-top: -25%;

  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
  #modif{

    margin-left: 85%;position: absolute;margin-top: -10%;
  }
  #gestion{
    margin-left: 82%;position: absolute;margin-top: -15%;
  }
  #demandei{
    margin-left: 82%;position: absolute;margin-top: -35%;

  }
  #demandee{
    margin-left: 83%;position: absolute;margin-top: -30%;
  }
  #gp{
    margin-left: 3%;position: absolute;margin-top: -20%;

  }
  #vp{
    margin-left: 2%;position: absolute;margin-top: -20%;

  }
  #vd{
    margin-left: 2%;position: absolute;
  }
  #ind{
    margin-left: 82%;position: absolute;margin-top: -20%;

  }
  #ip{
    margin-left: 83%;position: absolute;margin-top: -25%;

  }

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}
.entete,h6{

  font-family: 'LuloCleanW01-OneBold', sans-serif;
  display: inline;

}
.enteteInfo,p{

  display: inline;


}
p.eta{

  padding-left: 5%;

}
p.ser{

  margin-left: 27%;
}
p.mc{
  padding-left: 22%;

}
hr.ligne{

  color: #943616 ;

}
.ds{
  padding-left: 1%;
}
.medic{
  padding-left: 1%;

}
.ds,p{

}
.formfield * {
  vertical-align: middle;
}
.page-centrer {
    margin-top: 35px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 30%;
    border: 0.5px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    position: relative;

  width: 60%;
}



