.table-header {
    background-color: #07666E;
    border-bottom: 1px solid black;
    text-align: center;
}

.table-content {
    background-color: rgb(180, 183, 184);
    border-bottom: 1px solid rgb(180, 183, 184);;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px black solid;
}

.page-centrer {
    margin-top: 35px;
    padding-bottom: 40px;
    margin-left: 30%;
    margin-right: 30%;
    border: 0.5px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    align-content: center;
}

.titre {
    padding-top: 10px;
    padding-bottom: 80px;
    font-size: 20px;
    font-weight: 100;
}

.sousTitre {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 45%;
    margin-right: 50%;
    font-size: 15px;
    font-weight: bold;
}


.fond {
    background-image: url('src/assets/profil.jpg');
    height: 590px;
    margin: 0 0 0 0;
}

.erreur-message {
    color:#B30202;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

::-webkit-input-placeholder {
    text-align: center;
    font-style: italic;
    color: grey;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    font-style: italic;
    color: grey;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    font-style: italic;
    color: grey;
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    font-style: italic;
    color: grey;
 }

 a , a:hover{
    color: black;
    text-decoration: none;
  }

  