<!-- header -->

<!-- Menu --
 <app-menu></app-menu> -->

 <!--    background -->
<div class="fond">
   <div>.</div>
    <div class="page-centrer">
        <div class="text-center titre">Modifier Profil</div>
        <div>
        <form [formGroup]="form"  (ngSubmit)="onSubmit()">
            
                <!-- nom -->
                <div class="form-group col-lg-11 " style="padding-left: 30px;padding-bottom: 15px;">
                    <input type="text" formControlName="nom" #nom [(ngModel)] = "profil.nom" class="form-control"   [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"/>
                    <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                        <div *ngIf="f.nom.errors.required">Le nom n'est pas renseigné</div>
                    </div>
                </div>

                <!--  prenom -->
                <div class="form-group col-lg-11" style="padding-left: 30px;padding-bottom: 15px;">
                    <input type="text" formControlName="prenom" #prenom [(ngModel)] = "profil.prenom" class="form-control"    [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }"  />
                    <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                        <div *ngIf="f.prenom.errors.required">Le prénomn'est pas renseigné</div>
                    </div>
                </div> 

                 <!--  Adresse -->
                 <div class="form-group col-lg-11" style="padding-left: 30px;padding-bottom: 15px;">
                        <textarea  formControlName="adresse" #adresse [(ngModel)] = "profil.adresse" class="form-control" rows="2"  [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" ></textarea>
                        <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                            <div *ngIf="f.adresse.errors.required">Le prénomn'est pas renseigné</div>
                        </div>
                    </div> 
                
                

                <div class="form-group text-center" style="margin-top: 20px;">
                <button class="btn btn-primary btn-group-lg col-6" type="submit">Valider</button> 
                  
                </div>
            </form>
    </div>
    </div>

</div> <!-- /background -->
