

 <!--    background -->
<div class="fond">
   <div>.</div>

 <div class="page-centrer" style="padding-right: 100px;padding-left: 100px;margin-right: 30px;margin-left: 30px;">
<!--app-demandeExamenAdding></app-demandeExamenAdding-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom<th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <!--th scope="col">Publication Médecin</th-->
      <th scope="col">Publication</th>

    </tr>
  </thead>
  <tbody id="dExams">
        <tr *ngFor="let demandeExamen of demandeExamens;let i=index">
          <td>{{patienttab[i].donneesSociales.nom}}</td>
          <td>{{patienttab[i].donneesSociales.prenom}}</td>
          <td></td>
          <td *ngIf="demandeExamen.type_examen == 2">IHM</td>
          <td *ngIf="demandeExamen.type_examen == 1">DRP</td>
          <td> {{demandeExamen.date}} </td>
          <!--td> {{demandeExamen.publicationMed}} </td-->
          <td> {{demandeExamen.publicationLab}} </td>
          <!--td> <a routerLink="/demandeExamenEdit/{{demandeExamen.id}}"> Edit</a> </td-->
          <td><button class="btn btn-primary btn-group-lg col-12">Examen</button></td>
          <td><a routerLink="../accederDMP/{{demandeExamens.id_dmp}}"> DMP </a>

        </tr>

  </tbody>
</table>

</div>
 
</div> <!-- /background -->


