<link href="https://fonts.googleapis.com/css?family=Carme" rel="stylesheet">
<link href="http://db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<body ng-app="scrollSpyPlunk" data-offset="58" data-target="#navigation">

<div class="header"><h2>E-LING</h2> <img id="logo" src="../../assets/aphp.gif" alt="LogoAPHP"></div>
<script src="main.js"></script>

<body data-spy="scroll" data-offset="58" data-target="#navigation">
<h3 style="margin-left: 4%;">{{getUsername()}} {{getPrenom()}}</h3>
<div id="navigation" class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul *ngIf="getNiveau() == '0'" class="nav navbar-nav navbar-expand-lg">
        <li class="active"><a routerLink="connexion" class="smoothscroll">Emploi du temps</a></li>
        <li><a routerLink="listePatient" class="smoothscroll">Liste des patients actuels</a></li>
        <li><a routerLink="demandeExamen" class="smoothscroll">Historique des patients</a></li>
        <li><a routerLink="deconnexion" class="smoothscroll"><i class="fas fa-power-off"></i><!-- Fixed navbar -->
        </a></li>
        <!--<li><a href="#clients" class="smoothscroll">Clients</a></li>
        <li><a href="#contact" class="smoothscroll">Contact</a></li>-->
      </ul>
      <ul *ngIf="getNiveau() == '1'" class="nav navbar-nav navbar-expand-lg">
        <li class="active"><a routerLink="connexion" class="smoothscroll">Emploi du temps</a></li>
        <li><a routerLink="listePatient" class="smoothscroll">Liste des patients actuels</a></li>
        <li><a routerLink="newPatient2" class="smoothscroll">Créer un dossier</a></li>
        <li><a routerLink="examen" class="smoothscroll">Historique</a></li>
        <li><a routerLink="afficherExam" class="smoothscroll">Affiche</a></li>


        <li><a routerLink="deconnexion" class="smoothscroll"><i class="fas fa-power-off"></i><!-- Fixed navbar -->
        </a></li>
        <!--<li><a href="#clients" class="smoothscroll">Clients</a></li>
        <li><a href="#contact" class="smoothscroll">Contact</a></li>-->
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<div class="informationBox">

  <!-- Footer -->
  <footer class="page-footer font-small blue-grey lighten-5" style="margin-top: 46.5%" >

    <div style="background-color: rgba(37,34,64,0.88);">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Suivez nous sur les réseaux sociaux !</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>



  </footer>
  <!-- Footer -->

</div>

</body>

