<div class="page-centrer">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewExamenModal">
    Consulter examen
</button>

<div class="modal" id="viewExamenModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">examen</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal content-->
            <div class="modal-body">
                <div class="row">
                    <img [src]="imgURL" style="margin: auto; max-height: 100%; max-width: 100%;">
                    <div class="col-md-6 offset-md-3">
                        <form [formGroup]="registerForm">
                            <div class="form-group">
                                <label>Publie le : {{examen.date}}</label>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
