
<!-- header -->
<app-header></app-header>

<!-- Menu -->
 <app-menu></app-menu> 

 <!--    background -->
<div class="fond">
   <div>.</div>

 <div class="page-centrer" style="padding-right: 100px;padding-left: 100px;margin-right: 30px;margin-left: 30px;">
<!--app-demandeExamenAdding></app-demandeExamenAdding-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">DMP</th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <!--th scope="col">Publication Médecin</th-->
      <th scope="col">Publication</th>

    </tr>
  </thead>
  <tbody id="dExams">
        <tr *ngFor="let demandeIntervention of demandeInterventions">
          <td> {{demandeIntervention.id}} </td>
          <td> {{demandeIntervention.id_dmp}} </td>
          <td> {{demandeIntervention.type_intervention}} </td>
          <td> {{demandeIntervention.date}} </td>
          <!--td> {{demandeExamen.publicationMed}} </td-->
          <td> {{demandeIntervention.publicationLab}} </td>
          <!--td> <a routerLink="/demandeExamenEdit/{{demandeExamen.id}}"> Edit</a> </td-->
          <td><button class="btn btn-primary btn-group-lg col-12">Intervention</button></td>
        </tr>

  </tbody>
</table>

</div>
 
</div> <!-- /background -->


