<!-- header -->
<app-header></app-header>

<!-- Menu -->
 <app-menu></app-menu> 
 
 <!--    background -->
<div class="fond">
   <div>.</div>
   <!-- page-center -->
   
   
   <div class="page-centrer">
       <br>
       <h2> Recherche compte APHP </h2>
       <br> 
       <br>

       <label>Login : <input #name /> </label>
            <br> 
            <br>
        <label>Password : <input #pwd /> </label>
            <br> 
            <br>
        <button class="favorite styled" (click)="getCompteAphpAll(name.value,pwd.value);"> 
                Rechercher 
        </button>
       
   </div>  <!-- /page-center -->
 
</div> <!-- /background -->


